.App {
    display: flex;
    background-color: #282c34;
    color: white;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex: 1;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .notificaciones {
    margin-bottom: 20px;
  }
  
  .notificacion {
    background-color: #444;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .notificacion p {
    margin: 0;
    line-height: 1.5;
  }
  
  .notificacion button {
    background-color: #61dafb;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .filtro {
    width: 200px;
    background-color: #333;
    padding: 20px;
  }
  
  .filtro h3 {
    margin-top: 0;
  }
  
  /* Añade más estilos según tus necesidades */
  

  .button {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: none;
  }
  
  .bell {
    width: 18px;
  }
  
  .bell path {
    fill: white;
  }
  
  .button:hover {
    background-color: rgb(56, 56, 56);
  }
  
  .button:hover .bell {
    animation: bellRing 0.9s both;
  }
  
  /* bell ringing animation keyframes*/
  @keyframes bellRing {
    0%,
    100% {
      transform-origin: top;
    }
  
    15% {
      transform: rotateZ(10deg);
    }
  
    30% {
      transform: rotateZ(-10deg);
    }
  
    45% {
      transform: rotateZ(5deg);
    }
  
    60% {
      transform: rotateZ(-5deg);
    }
  
    75% {
      transform: rotateZ(2deg);
    }
  }
  
  .button:active {
    transform: scale(0.8);
  }
  