.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: black; /* Agregamos un fondo negro */
    color: white; /* Cambiamos el color del texto a blanco */
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.profile img {
    align: center;
    width: 100px;
    height: 110px;
    border-radius: 30%;
    margin-right: 30px;
    cursor: pointer; /* Cambiamos el cursor al pasar sobre la imagen */
}

.profile-details {
    flex: 1;
}

.profile-details button {
    background-color: rgb(230, 24, 24);
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-details button:hover {
    background-color: gray;
}